*,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* font-family:"sacramento"; */
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Genos', sans-serif; */
    /* font-family: 'Gluten', cursive; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: sans-serif; */
    /* font-family: 'Borel', cursive; */
    /* font-family: "ouma-latin-variable",sans-serif; */
    /* font-variation-settings: 'wght' 100; */
    /* font-family: "gyst-variable",sans-serif; */
    /* font-variation-settings: 'wght' 100; */
    /* font-family: "acumin-pro", sans-serif; */
    /* font-weight: 400; */
    /* font-style: normal; */
    /* font-family: "kepler-std-semicondensed-dis", serif; */
      
}




:root{
    --beige:#F5E7E0;
    --beige2:#c7b79eac;
    --blue:#0e00ac;
    --blue2:#0300235c;
    --white:#fff7f7cf;
    --black:#1C1C1C;
    --cbd3: #e0ffff;
    --cbd41:#ff7f50;
    --cbd42:#f07f7f;
    --cbd5:#228b22;
    --cbd6:#ffa500;
    /* button time */
    --b-time:.2s;
    /* global curve */
    --g-c:1.5em;
    /* minimal curve */
    --m-c:4px;
    /* varriable gap */
    --vg-n:1.4rem;
    --vg-s:calc(var(--vg-n)/2);
    
    --margin-s: 1rem;  
    
    
}

html{
    overflow-x: clip;
    overflow-y: scroll;
   
}

body{
    position: relative;
    width: 100svw;
    height: auto;
    inset: 0;
    /* outline: solid blue; */
    background:var(--beige);
    background-position: 0px -10px;
    font-family: sans-serif;
}

header{
    background-color:#F5E7E0;
    display: flex;
    width:100%;
 }

.logo{
    display:inline-flex;
    text-decoration: none;
    font-family:'Bodoni Moda', serif;
    scale: max(.1 ,.7) ;
    margin: 0px;
    height: clamp(10px , 20px ,50px);
    
     
 }
 

 .logo span{
    font-size: 5rem ;
    margin: 0px;
    z-index: 100;  
    font-family: 'Bodoni Moda', serif; 
    
 }
 .logo .spanone{
        translate: 0px 25px ;
}

 header span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--blue);
    -webkit-text-stroke: 1px var(--blue);
    background-clip: transparent;
    z-index: 100;     
    color: transparent;
    line-height: 90%;
 }


 header .back-btn {
    position: relative;
    margin: var(--margin-s) 2dvw;
    margin-top: 18dvh ;
    display: grid;
    place-items: center;
    z-index: 4;
    >svg{
        scale: 2;
        color: var(--blue);

    &:hover{
        translate: 0px -5px;
        color: var(--primary);
        filter: drop-shadow(2px 5px 1.5px var(--blue2));
    }
    }
}

.background{
    --side-gap:2dvw;

    display: grid;
    grid-template-columns: .9fr [mid-start] 4fr [mid-end] .9fr;
    grid-template-rows:auto;
    
    /* outline: solid blue; */
    position: absolute;
    top: 1cqi;
    right:  var(--side-gap);
    left: var(--side-gap);
    padding-top: 9svh;
    /* height:minmax(100svh 300dvh); */
    min-height:97dvh ;

    /* background-image: url(../assets/moring-wall.png); */
    row-gap: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.1) inset,
    3px 3px 10px rgba(0,0,0,0.2) inset;
    border-radius: 10pc 10pc 0pc var(--m-c) ;
  }
/* everthing in the middle */
  .background :nth-child(n){
    grid-column: mid;
    /* margin-bottom: var(--vg-s); */
 }
 
/* title */
.background h1{
    display: block;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    box-shadow: inset 5px 5px 5px 1px var(--blue2),2px 5px 6px 1px var(--blue2);
    border-radius: 2pc 2pc;
    padding: var(--vg-n);
    background-color: var(--blue);
    color: white;
    text-shadow: 0px 0px 3px var(--white);
}

/* description */
.background .description {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}


.background form{
    position: relative;
   

}

/* if the previous fieldset is not valid, the next one will not show */
  fieldset:nth-of-type(1):not(:valid) ~ fieldset:nth-of-type(2), 
  fieldset:nth-of-type(2):not(:valid) ~ fieldset:nth-of-type(3),
  fieldset:nth-of-type(1):not(:valid) ~ fieldset:nth-of-type(3)
    {
  display: none;
  }

  /* article:nth-of-type(1) > fieldset >:not(:valid) ~ .action-btn  {
    background-color: #0D00A4;
  } */

  fieldset{
    border-radius: var(--g-c);
    border: 1.5px solid rgba(255, 255, 255, 0.577);
    padding: var(--vg-n);
    background-color: var(--white);
    margin-bottom: 3rem;
    & :nth-child(n){
        margin-bottom: var(--vg-s); 
    }

    > legend{
        /* outline: solid ; */
        /* margin-inline: auto; */
        border: 1.5px solid rgba(255, 255, 255, 0.329);
        border-radius: var(--g-c);
        background-color: var(--blue);
        padding: var(--vg-s);
        font-size: 2rem;
        font-weight: 100;
        text-transform: lowercase;
        color: var(--beige);
        box-shadow:2px 5px 7px 1px var(--blue2);
    }
    >div{
        font-size: 1.5rem;
    }
  }

  input:not([type]),
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="date"],
    input[type="time"],
    textarea,select
    {
        display: block;
        box-sizing: border-box;
        width: 30cqi;
        min-height: 100%;
        border-radius: var(--m-c);
        outline: solid var(--blue);
        font-size: 1.5rem;
        padding-inline: var(--vg-s);

    &:user-invalid{
        outline: solid rgba(255, 0, 0, 0.534);
        }
    &:user-valid,:checked {
        background:  rgba(69, 151, 69, 0.116) ;
        outline: solid  rgba(69, 151, 69, 0.322) ;
    }
}

/* event fieldset */
fieldset:nth-of-type(1){
    position: relative;

    >div{
        display: flex;
        flex-direction: column;
    }
    >div:nth-of-type(2){
    >   input[type="date"],
        input[type="time"]{
          width: 30%;
      }
    }
    >div:nth-of-type(4){
        position: absolute;
        top: var(--vg-n);
        right: var(--vg-n);
       
    }
    >div:nth-of-type(4) textarea {
        
        max-width: 25cqi;
        min-width: 25cqi;
        min-height: 3rem;
        max-height: 15rem;
        padding: var(--vg-s) ;
    }
    
}

/* fliter-option fieldset */
fieldset:nth-of-type(2){

    .bar{
        display: flex;
        flex-direction: row;
        /* outline: solid #0D00A4; */
        position: relative;
        gap: 10px;
        border-radius: var(--m-c);
        
    }
    
    .filter{
        position: relative;
        border: solid rgba(255, 0, 0, 0.603);
        top:0;
        bottom: 0;
        margin: var(--vg-s);
        min-height: 10rem;
        
        &:nth-child(1){
            width: 30%;
            border: 1.5px solid rgba(255, 255, 255, 0.577);
        }
        &:nth-child(2){
            width: 30%;
            border: 1.5px solid rgba(255, 255, 255, 0.577);
            display: grid;
            column-gap: 10px;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr 1fr ;
            padding:5px ;
            
            >:nth-child(n) {
                border-radius:  var(--g-c) var(--g-c);
                border: 1.5px solid rgb(255, 255, 255);
                background-color: white;
                /* outline: solid; */
                text-align: center;
                padding: var(--vg-s);
            }   
            >:nth-child(n) input[type=radio]{appearance: none;}
            >:nth-child(n):has(:checked){
                border: solid var(--blue);
                background-color: var(--blue);
                color: white;
            }
            >:nth-child(1){grid-area:1/1/2/2;}
            >:nth-child(2){grid-area:1/2/2/3;}
            >:nth-child(3){
                grid-area:2/1/3/3;
                
            }
        }
        &:nth-child(3){
            flex-grow: 1;
            width: 30%;
            border: 1.5px solid rgba(255, 255, 255, 0.577);
            & input[type=text] {
                width: 100%;
                appearance: unset;
                
            }
        }
    }
    .options .option{
    
        text-decoration: none;
        z-index: -1;
        position: absolute;
        inset: .4em;
        display:grid;
        place-items: center;
        
    }
    .option:is(#food,#do,#other,#comu,#choose):target{
        z-index: 1;
        border: 1.5px solid rgba(255, 255, 255, 0.959);
        display: grid;
        border-radius:  var(--g-c) var(--g-c) ;
        min-height: 70%;
        /* background-color: var(--white); */
        
    }
    .option#food:target{
        color: var(--black);
        background-color: rgb(255, 255, 104);
     
    }
    .option#do:target{
        color: var(--white);
        background-color:rgb(42, 119, 42);   
    }
    .option#other:target{
        color: var(--white);
        background-color: rgba(237, 65, 13, 0.916);
    }
    
    .option#comu:target{
        color: var(--black);
        background-color: orange;   
    }
    .option#choose:target{
        color: var(--white);
        background-color: var(--blue);
    }
    #choose{
        color: blue;
        /* display:block ; */
        z-index:0;
        text-decoration: none;
        /* position:absolute; */
    }
}

fieldset:nth-of-type(3){
    
    div :nth-child(n){
        margin-bottom: var(--vg-s); 
        
    }
}


/* submit abort button */
.action-btn{

    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--vg-n);
    margin-bottom: var(--vg-s);
    >button{
        /* appearance: none; */
        flex-grow: 1;
        display: flex;
        font-size: 3rem;
        border: 1.5px solid rgba(255, 255, 255, 0.89);
        padding: var(--vg-s);
        min-width: 2em;
        max-width: 80%;
        border-radius: var(--g-c) ;
        background-color: var(--blue2);
        color: var(--beige);
        
    &#submit{
        /* cursor:not-allowed; */
        justify-content: center;
    }
    > a{
        color: var(--beige);
        width: 100%;
        cursor: pointer;
    }
    &:hover{
        background-color: var(--blue);
    }
    }
}

 
  