*,html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* font-family:"sacramento"; */
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Genos', sans-serif; */
    /* font-family: 'Gluten', cursive; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: sans-serif; */
    /* font-family: 'Borel', cursive; */
    /* font-family: "ouma-latin-variable",sans-serif; */
    /* font-variation-settings: 'wght' 100; */
    /* font-family: "gyst-variable",sans-serif; */
    /* font-variation-settings: 'wght' 100; */
    /* font-family: "acumin-pro", sans-serif; */
    /* font-weight: 400; */
    /* font-style: normal; */
    /* font-family: "kepler-std-semicondensed-dis", serif; */
      
}



:root{
    --beige:#F5E7E0;
    --beige2:#c7b79eac;
    --blue:#0e00ac;
    --blue2:#0300235c;
    --white:#fff7f7cf;
    --black:#1C1C1C;
    --cbd3: #e0ffff;
    --cbd41:#ff7f50;
    --cbd42:#f07f7f;
    --cbd5:#228b22;
    --cbd6:#ffa500;
    /* button time */
    --b-time:.2s;
    /* global curve */
    --g-c:1.5em;
    /* minimal curve */
    --m-c:4px;
    /* varriable gap */
    --vg-n:1.4rem;
    --vg-s:calc(var(--vg-n)/2);
    
    --margin-s: 1rem;  

    --scale : 1.1;   


}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* outline: solid blue; */
    background:var(--beige);
    overflow: hidden;
    background-position: 0px -10px;
    
}

header{
    background-color:#F5E7E0;
    display: flex;
    width:100%;
 }

.logo{
    display:inline-flex;
    text-decoration: none;
    /* background-color: coral; */
    margin: var(--margin-s) 2em;
    height: 90px;
    font-family: 'Bodoni Moda', serif;
 }
 

 .logo span{
    font-size: 5rem ;
    margin: 0px;
    z-index: 100;  
    font-family: 'Bodoni Moda', serif; 
    
 }
 .logo .spanone{
        translate: 0px 25px ;
}

 header span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--blue);
    -webkit-text-stroke: 1px var(--blue);
    background-clip: transparent;
    z-index: 100;     
    color: transparent;
    line-height: 90%;
 }


header .back-btn {
    /* outline: solid red; */
    position: relative;
    margin: var(--margin-s) 10dvw;
    margin-top: 2rem ;
    display: grid;
    place-items: center;
    >svg{
        scale: 2;
        color: var(--blue);

    &:hover{
        translate: 0px -5px;
        color: var(--primary);
        filter: drop-shadow(2px 5px 1.5px var(--blue2));
    }
    }
}



/* background of the glass section */
.background{
  display: grid;
  grid-template-columns: .8fr 5fr .1fr;
  grid-template-rows:.5fr .5fr 1fr;
  
  position: absolute;
  bottom: 0;
  right: 0;
  top:0em;
  width: 75vw;

  background-color:#f5e7e03a;
  background-blend-mode:screen;
  background-image: url(../assets/moring-wall.png);
  row-gap: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: var(--black); */
  box-shadow: 3px 3px 4px rgba(0,0,0,0.1) inset,
  3px 3px 10px rgba(0,0,0,0.2) inset;
  border-radius: 10pc 0pc 0pc var(--m-c) ;
  
}

/* filters */
.bar{
    grid-area: 1/2/1/4;
    display: flex;
    flex-direction: row;
    /* outline: solid #0D00A4; */
    margin-top: 1em;
    position: relative;
    gap: 1em;
    margin-right: 1em;
}

.filter{
    
    /* border: solid red; */
    top:0;
    bottom: 0;
    
    &:nth-child(1){
        width: 30%;
        border-radius: 5pc var(--g-c) var(--g-c) var(--g-c) ;
        
    }
    &:nth-child(2){
        width: 30%;
    }
    &:nth-child(3){
        flex-grow:1;
        /* outline: solid green; */
        border: 1.5px solid rgba(255, 255, 255, 0.577);
        border-radius: var(--g-c) var(--g-c) var(--m-c) var(--g-c) ;
    }
}

.options{
    /* background-color: #1C1C1C; */
    
    border: 1.5px solid rgba(255, 255, 255, 0.577);
    display: grid;
    position: relative;
    place-items: center;
}

.options .option{
    
    text-decoration: none;
    z-index: -1;
    position: absolute;
    inset: .4em;
    display:grid;
    place-items: center;
    font-size: 1.3rem;
    
    &:hover,:focus{
        scale: calc(var(--scale)/1.12);
        transition: var(--b-time) linear .15s;

      }
    
      &:active{
        scale: calc(var(--scale) * .9);
        
      }
    
}
.option:is(#food,#do,#other,#comu,#choose):target{
    z-index: 1;
    /* outline: solid ; */
    border: 1.5px solid rgba(255, 255, 255, 0.577);
    display: grid;
    border-radius: 5pc var(--g-c) var(--g-c) var(--g-c) ;
    /* background-color: var(--white); */
    
}

.option#food:target{
    color: var(--black);
    background-color: rgb(255, 255, 104);
    border-radius: 6pc var(--g-c) var(--g-c) 5pc ;

 
}
.option#do:target{
    color: var(--white);
    background-color:rgb(42, 119, 42);  
    border-radius: 4pc 6pc var(--g-c) 5pc ;
 
}
.option#other:target{
    color: var(--white);
    background-color: rgba(237, 58, 13, 0.916);
    border-radius: 6pc var(--g-c) 5pc ;

}

.option#comu:target{
    color: var(--black);
    background-color: orange;   
    border-radius: 8pc 9pc var(--g-c) 5pc ;

}
.option#choose:target{
    color: var(--blue);
    /background-color: var(--blue);
    border-radius: 16pc  15pc ;

}
#choose{
    color: rgb(0, 0, 255);
    font-size: 2rem;
    text-shadow:0px 0px 10px var(--white);
    /* display:block ; */
    z-index:0;
    text-decoration: none;
    /* position:absolute; */
}



/* .hidden-info{
    grid-area: 2/-1/4/-2;
    outline: solid orange;
    width: 0;
    border-radius: 10em 0em 0em 0em ;
    
} */

.M-I{
    display: flex;
    flex-direction: column;
    gap:.6em;
    font-size: 1.3rem;
    .pink{
        /* outline: solid; */
        flex-grow: 1;
        margin: 0;
        border-radius: var(--g-c) var(--g-c) var(--m-c) var(--m-c) ;
        display: grid;
        place-items: center;
        border: 1.5px solid rgba(255, 255, 255, 0.577);
        background-color: rgba(255, 127, 80, 0.233);
        transition: var(--b-time) ease-in-out;

        &:hover,:focus{
            scale: calc(var(--scale)/1.12);
          }
        
          &:active{
            scale: calc(var(--scale) * .8);
          }
    
    }
    .pink:nth-of-type(2){
        border-radius:  var(--m-c) var(--m-c) var(--g-c) var(--g-c) ;
    }
    .pink:nth-of-type(n):has(input[type="radio"]:checked){
        background-color: #0D00A4;
        height: 30%;
        color: var(--white);
        /* scale: 1.05; */
    }

    .pink> input[type="radio"]{
        appearance:none ;
        
    }
 
    
}

.choose{
display: flex;
padding: .5em;
flex-wrap: wrap;
overflow:hidden ;
gap: .5em;

> label{
    /* outline: solid; */
    border: 1.5px solid rgba(255, 255, 255, 0.577);
    padding: calc(var(--g-c) - .3em);
    min-width: 2em;
    width: max-content;
    border-radius: calc(var(--g-c) - .6em);

    
    
}

}

.optionTwo:nth-of-type(n){
    transition: var(--b-time) ease-in-out;
    &:hover,:focus{
        scale: calc(var(--scale)/1.12);
      }
      &:active{
        scale: calc(var(--scale) * .8);
      }

}
.optionTwo:nth-of-type(n):has(input[type="radio"]:checked){
    background-color: #0D00A4;
    height: 30%;
    color: var(--white);
    scale: 1.05;
   
}

.optionTwo:nth-of-type(n):has(input[type="radio"])> input[type="radio"]{
    appearance:none ;
    
}

/* list / glass */
.glass{
    grid-area: 2/1/4/4;
    /* outline: solid forestgreen; */
    border-radius: 10em var(--m-c) var(--m-c) var(--m-c);
    display:flex;
    border: 1.5px solid rgba(255, 255, 255, 0.57);
    border-bottom: 0px;
    position: relative;
    align-items: center;
    justify-items: center;
    padding:2rem ;
    margin-left: 1em;
    margin-right: 1em;
    backdrop-filter: blur(7px);
    /* background-color: var(--black); */
    /* height: 100vh; */
    z-index: 1;
    overflow-y: scroll;
}

.glass ul{

    width: 60cqw;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    overflow-x: auto;
    position: absolute;
    top: 2rem;
    gap: 1em;
    margin-inline-start: 6rem;
    /* border: solid; */
   
    > li{
        /* border: 2px solid; */
        border-radius: var(--m-c);
        display: flex;
        justify-content: space-evenly;
        position: relative;
        gap: 1em;
        height: 15rem;
       
        
        > .details.container{
            /* background-color: var(--blue); */
            all: unset;
            color: var(--white); 
            padding:.5em ; 
            border-radius:var(--g-c) var(--g-c) ;
            backdrop-filter:blur(6px);
            width: 100%;
           

            /* >.details.cards{
                border: 3px solid rgba(255, 255, 255, 0.747);
                backdrop-filter:blur(6px);
                height: 100%;
                border-radius:var(--g-c) var(--g-c) ;
                padding: 1em;
                overflow-wrap: break-word;

               
                &::after{
                    content: '';
                    position: absolute;
                    background-color: var(--blue);
                    inset: -10px;
                    border-radius:var(--g-c) var(--g-c) ;
                    z-index: -200;
                    
                }
            }   */

        }
  
    }
    > li:nth-of-type(n)>div:has(img){
       display: grid;
       grid-template-columns: subgrid;
       place-items: center;
       width: min-content;
       position: relative;
       border-radius:  10em 10em var(--g-c) var(--g-c) ;
       > img{
        border-radius: 50%;
       }
       
    }
   
}

.details.cards{
    border: 3px solid rgba(255, 255, 255, 0.747);
    backdrop-filter:blur(6px);
    height: 100%;
    border-radius:var(--g-c) var(--g-c) ;
    
    padding: 1em;
    overflow-wrap: break-word;

   
    &::after{
        content: '';
        position: absolute;
        inset: -10px;
        border-radius:var(--g-c) var(--g-c) ;
        z-index: -200;
        
    }
}  



.glass li{

    &:nth-of-type(n){ 
        order:0;
        cursor: pointer;
    > .details.container{
        flex-grow: 1;
        /* outline: solid red; */
    >.cards{
        display: flex;
        width: 100%;
        >:nth-child(1){
           width: 70%;
            >h1{
                font-size: 2.5rem;
            }
            >p{
                font-size: 1.2rem;
            }

        }
        /* date */
        >:nth-child(2) {
        width: 30%;
        display: grid;
        place-content: center;
        /* outline: solid red; */
        /* padding: 1em; */
        >p {
            display: flex;  
            width: 	100%;
            &:nth-last-of-type(n+2){
                border-bottom: solid;
            }
        }

        >p span{
            flex-grow: 1;
            color: var(--white);
            font-size: clamp(1rem,4.5rem,10cqh);
            

           
        }

        }

    }
    
    }   
}
}


/* background color that folows the mouse and list items */




/* side info panel popovers  */
.side-info {
    /* outline: solid; */
    position:absolute;
    margin: 0;
    bottom: 0;
    top:14rem;
    /* display: block; */
    width:24.9vw ;
    


}


.side-info ul {
    background-color:var(--blue);
    
   
    margin: var(--margin-s);
    list-style: none;
    display: grid;
    gap:1em;
    height:60vh ;
    overflow-y: hidden ;
    border-radius:var(--g-c) var(--g-c) ;
    border: 1.1px solid rgba(255, 255, 255, 0.577);
    backdrop-filter:blur(60px);
    
    
    >:nth-child(1):not(popover-open){
        
        /* background-color: rgb(255, 255, 104); */
       
    }
    >:nth-child(2){
       /* background-color: green ; */
     
    }
    >:nth-child(3){
        /* background-color: blue ; */
    
    }
    >:nth-child(4){
        /* background-color: yellow ; */
        
    }
    >:nth-child(5){
        /* background-color: orange ; */
    }

}

.side-info li  {
    /* all: unset; */
    grid-area: 1/1;
    margin: calc(var(--margin-s) - 10px);
    border-radius:var(--g-c) var(--g-c) ;
    border: 1.5px solid rgba(255, 255, 255, 0.281);
    background-color: transparent;
    /* display: none; */
    backdrop-filter:blur(1px);
    padding: 8px;
    list-style: none;
    z-index: 0;
    color: var(--white);
    font-size: 1.2rem;
    position: relative;
    inset:unset;
    left:1em;
    top:15rem;
    width:22cqw;
    width:22dvw;
    height: 58vh;

}

.form-btn{
    /* outline: solid green; */
    border: 3px solid var(--blue);
    border-radius:var(--g-c) var(--g-c) ;
    background-color: var(--white);
    position: absolute;
    /* height: 10svh; */
    /* left: var(--vg-n); */
    /* width: 20svw; */
    bottom: var(--vg-n);
    left: var(--vg-n);
    right: max(var(--vg-n), 75cqw + var(--vg-n));
    z-index: 4;
    &:hover{
        translate: 0px -5px;
        filter: drop-shadow(2px 5px 1.5px var(--blue2));
        background: white;
    }

    &:active{
        translate: 0px -2px;  
    }
    
    > div a{
        display: flex;
        flex-direction: row;
        padding:var(--vg-s);
        font-size: 1.5rem;
        color: var(--blue);
        
    }
}

#cursor{
    width: 5rem;   
    aspect-ratio: 1/1;
    top: 0;
    left: 0;  
}

.follow{
    translate: -50% -40%;
    position: absolute;
    background-color: var(--blue2);
    z-index: 0;
    transition: .9ms linear ;
    border-radius: var(--g-c);

    

}

@media (width < 1080px){
   
    .logo{
        scale: 1 ;
        margin: 10px;
        height: 20px;
        
     }
    .background{
        width: 93%;
        grid-template-columns: 1fr 3fr .1fr;

    }
    .bar{
        position: absolute;
       >:nth-child(3) > .moreOption{
       /* background-color: #228b22; */
       flex-wrap:wrap;
       overflow:scroll ;
       height: 22svh;
       
      }
       
     
    }

   .glass{
        padding: 0;
   }
   .glass ul{
        display: flex;
        flex-direction: column;
        right: 0.5rem;
        width: 50cqw;
   } 
    .side-info{
        top: 29cqh;
        left: 10.5rem;
        width:30cqw ;
        transform-origin: left;

       
    }
    .side-info li {
        top: 30cqh;
        left: 11.5rem;
        width:25cqw ;
        transform-origin: left;
       
    }
   
}
@media (width < 800px){
   
    .logo{
        scale: max(.1 ,.5) ;
        margin: 0px;
        height: clamp(10px , 20px ,50px);
        padding: 0;
     }
    
    
    
    .background{
        width: 100%;
        grid-template-columns: 1fr 3fr .1fr;
    }
    .bar{
        position: absolute;
    }
   .glass{
    padding: 0;
   }
   .glass ul{
    display: flex;
    flex-direction: column;
    right: 0.5rem;
    width: 50cqw;
   } 
    .side-info{
        top: 30cqh;
        left: 4rem;
        width:38cqw ;
        transform-origin: left;
    }
    .side-info li {
        top: 31cqh;
        left: 5rem;
        width:30cqw ;
        transform-origin: left;
       
    }
   
}





